
<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <div class="example-container mat-elevation-z8">
        <mat-form-field>
          <input matInput placeholder="Name" ngModel name="Name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="SKU" ngModel name="SKU"  required>
        </mat-form-field>

          <mat-form-field>
            <input type="date" matInput placeholder="Date" ngModel name="Date" required>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Price" ngModel name="Price" required>
          </mat-form-field>

          <mat-form-field>
            <input type="number" matInput placeholder="starRating" ngModel name="starRating" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="ImageUrl" ngModel name="Image" required>
          </mat-form-field>

          <mat-form-field>
              <textarea matInput placeholder="Description" ngModel  name="Description" required></textarea>
          </mat-form-field>


      <button type="submit" [disabled]="!myForm.form.valid" color="primary" mat-stroked-button>Submit</button>
    </div>
</form>
